-if Pixelator.run_envs.include?(Rails.env)
  - pixel_types ||= []
  - types = ['all'].concat(pixel_types).concat(@pixel_types || []).uniq
  - @scope ||= ''

  :javascript
    (function() {
      $(document).ready(function() {
        var pixelator = new Pixelator(PIXEL_DATA, '#{@scope}');
        _.each(#{types}, function(p) {
          pixelator.run(p);
        });
      });
    })();
-else
  :javascript
    if (typeof(console) === "object" && typeof(console.log) === "function") {
      console.log("NOTICE: Pixelator is OFF. Go to #{__FILE__} to turn on.\n" +
        "It would run: #{types} for #{@scope}");
    }


